body {
  background-image: url(https://wallpaperscraft.com/image/minecraft_house_logo_cubes_resources_2229_2560x1440.jpg);
}
.class {
  color: lime;
  text-align: center;
}
.a {
  color: lime;
  text-decoration: none;
}
